<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        <h1>In maintenance</h1>
        <p>We are in maintenance mode please wait</p>
        {{> footer}}
    </body>
</html>